<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/555be0560e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/stylesheet1.css">
    <script src="/js/js_fucntionality.js" defer></script> 

    <title>The Encyclopedia of Spooky- Alien</title>

</head>
<body>


    <h1>
        <img src="../images/logo.png" alt="logo" width="100" height="100"> The Encyclopedia of Spooky
    </h1>


    <section id="upload">
        Account information</br>
        <a href="/page19/Create account.ejs">Create Account</a></br>
        <a href="/page20/delete account.ejs">Delete Account</a><br>
    </section>


<main>
    <h2>
    <img src="../images/alien.jpg" alt="Alien Poster" width="250" height="400"><br>
    Alien
    </h2>





    <header id="page header">
        <nav>
            <menu>
        <a href="#Basic-info"><span>Info -</span></a>
        <a href="#Synopsis"><span>Synopsis - </span></a>
        <a href="#Cast"><span>Cast -</span></a>
        <a href="#Crew"><span>Crew -</span></a>
        <a href="#Comments"><span>Comments -</span></a>
        <a href="#References"><span>References -</span></a>
        <a href="/page1/landing page.ejs"><span>Home -</span></a>
        </menu>
    </nav>
    </header>

    <section id="#Basic-info">
        <h2 id ="Basic-info">Basic Information</h2>
        Release date - 1979</br>
        Run Time - 117 minutes</br>
        Rating - R</br>
        Budget - $11 million</br>
        Box Office - $106 million</br>
        Distributed by - 20th Century Fox </br>
    </section>


    <section id="Synopsis">
        <h2 id ="Synopsis">Synopsis</h2>
        After a space merchant vessel receives an unknown transmission as a distress call, 
        one of the crew is attacked by a mysterious life form and they soon realize that its life cycle has merely begun.</br>
    </section>


    <section id="Cast">
        <h2 id ="Cast">Cast</h2>
        Tom Skerritt as Dallas<br>
        Sigourney Weaver as Ripley<br>
        Veronica Cartwright as Lambert<br>
        Harry Dean Stanton as Brett<br>
        John Hurt as Kane,<br>
        Ian Holm as Ash<br>
        Yaphet Kotto as Parker<br>
        Bolaji Badejo as the Alien<br>
    </section>


    <section id="Crew">
        <h2 id ="Crew">Crew</h2>
        Directed by	Ridley Scott<br>
        Screenplay by Dan O'Bannon<br>
        Produced by	Gordon Carroll<br>
        Produced by	David Giler<br>
        Produced by	Walter Hill<br>
        Cinematography	Derek Vanlint<br>
        Edited by Terry Rawlings<br>
        Edited by Peter Weatherley<br>
        Music by Jerry Goldsmith<br>
    </section>


    <section id="Comments">
        <h2 id="Comments">Comments Section</h2>
        <section id="buttons12">
            <button onclick="addComment(); addReplySection()">
                Add comment
            </button>
        </section>
    
    
    <ul id="dynamic-list">
    </ul>
    
    
    <section id="reply">
             Username:<input type="text" id="candidate2"/><br>
    </section>
    <section id="comments">
        Comment:<input type="text" id="candidate"/><br>
        <button id="button1" onclick="addItem(); hideComment(); clearText(); addItem2();hideReplySection(); clearText2(); hideReply();">add comment</button>
    </section>
       
    

    <footer id="References">
        <hr>
           <p>References</br>
           <a href="https://en.wikipedia.org/wiki/Alien_(film)">wikipedia.org</a><br>
           <a href="https://www.imdb.com/title/tt0078748/?ref_=fn_al_tt_1">imdb.com</a><br>
           <a href="https://www.amazon.com/Alien/dp/B00MBNYMDU/ref=sr_1_1?dchild=1&keywords=alien+dvd&qid=1634495955&sr=8-1">www.amazon.com</a><br>
     </footer>
    








</main>


</body>
<html>