<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/555be0560e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/stylesheet1.css">
    <script src="/js/js_fucntionality.js" defer></script> 
    <title>The Encyclopedia of Spooky-create account</title>

</head>

<body>
    <h1>
        <img src="../images/logo.png" alt="logo" width="100" height="100"> The Encyclopedia of Spooky
     </h1>



    <header id="page header">
        <nav>
            <menu>
                <a href="/page1/landing page"><span>Home -</span></a>
        </menu>
    </nav>
    </header>

<main>

    <h2>
        Create Account
    </h2>


  <section id="create_account">
    <p>Enter Username and password</p>
    <form method="get" action="/handler">
     <p>Username:<span><input id="small_name" type="text" name="user_name" /></span><br />
      Password:<input id="password" type="text" name="user_password" /><br /></p>
      <input  id="small_btn" onclick="clearText();" type="submit" />
    </form>

</section>
</main>


</body>
</html>
