<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/555be0560e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/stylesheet1.css">
    <script src="/js/js_fucntionality.js" defer></script> 

    <title>The Encyclopedia of Spooky- Dead Alive</title>

</head>
<body>


    <h1>
        <img src="../images/logo.png" alt="logo" width="100" height="100"> The Encyclopedia of Spooky
    </h1>


    <section id="upload">
        Account information</br>
        <a href="/page19/Create account.ejs">Create Account</a></br>
        <a href="/page20/delete account.ejs">Delete Account</a><br>
    </section>


<main>
    <h2>
    <img src="../images/Dead Alive.jpg" alt="Dead Alive Poster" width="250" height="400"><br>
    Dead Alive
    </h2>





    <header id="page header">
        <nav>
            <menu>
        <a href="#Basic-info"><span>Info -</span></a>
        <a href="#Synopsis"><span>Synopsis - </span></a>
        <a href="#Cast"><span>Cast -</span></a>
        <a href="#Crew"><span>Crew -</span></a>
        <a href="#Comments"><span>Comments -</span></a>
        <a href="#References"><span>References -</span></a>
        <a href="/page1/landing page.ejs"><span>Home -</span></a>
        </menu>
    </nav>
    </header>

    <section id="#Basic-info">
        <h2 id ="Basic-info">Basic Information</h2>
        Release date - 1992</br>
        Run Time - 104 minutes</br>
        Rating - R</br>
        Budget - $3 million </br>
        Box Office - $242,000</br>
        Distributed by - Oro Films </br>
    </section>


    <section id="Synopsis">
        <h2 id ="Synopsis">Synopsis</h2>
        A young man's mother is bitten by a Sumatran rat-monkey. 
        She gets sick and dies, at which time she comes back to life, killing and eating dogs, nurses, 
        friends, and neighbors.</br>
    </section>


    <section id="Cast">
        <h2 id ="Cast">Cast</h2>
        David Emge as Stephen "Flyboy" Andrews<br>
        Ken Foree as Peter Washington<br>
        Scott Reiniger as Roger "Trooper" DeMarco<br>
        Gaylen Ross as Francine "Fran" ("Flygirl") Parker<br>
    </section>


    <section id="Crew">
        <h2 id ="Crew">Crew</h2>
        Directed by	Peter Jackson<br>
        Screenplay by Stephen Sinclair<br>
        Screenplay byPeter Jackson<br>
        Screenplay byFrances Walsh<br>
        Produced by	Jim Booth<br>
        Cinematography	Murray Milne<br>
        Edited by Jamie Selkirk<br>
        Music by Peter Dasent<br>
    </section>


    <section id="Comments">
        <h2 id="Comments">Comments Section</h2>
        <section id="buttons12">
            <button onclick="addComment(); addReplySection()">
                Add comment
            </button>
        </section>
    
    
    <ul id="dynamic-list">
    </ul>
    
    
    <section id="reply">
             Username:<input type="text" id="candidate2"/><br>
    </section>
    <section id="comments">
        Comment:<input type="text" id="candidate"/><br>
        <button id="button1" onclick="addItem(); hideComment(); clearText(); addItem2();hideReplySection(); clearText2(); hideReply();">add comment</button>
    </section>
       
    
    <footer id="References">
        <hr>
           <p>References</br>
           <a href="https://en.wikipedia.org/wiki/Braindead_(film)">wikipedia.org</a><br>
           <a href="https://www.imdb.com/title/tt0103873/?ref_=fn_al_tt_1">imdb.com</a><br>
           <a href="https://www.amazon.com/Dead-Alive-Timothy-Balme/dp/157362408X/ref=sr_1_1?dchild=1&keywords=Dead+alive+dvd&qid=1634501770&sr=8-1">www.amazon.com</a><br>
     </footer>
    








</main>


</body>
<html>