<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/555be0560e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/stylesheet1.css">
    <script src="/js/js_fucntionality.js" defer></script> 

    <title>The Encyclopedia of Spooky- Friday the 13th</title>

</head>
<body>


    <h1>
        <img src="../images/logo.png" alt="logo" width="100" height="100"> The Encyclopedia of Spooky
    </h1>


    <section id="upload">
        Account information</br>
        <a href="/page19/Create account.ejs">Create Account</a></br>
        <a href="/page20/delete account.ejs">Delete Account</a><br>
    </section>


<main>
    <h2>
    <img src="../images/Fridaythe13th.jpg" alt="Friday the 13th Poster" width="250" height="400"><br>
    Friday the 13th
    </h2>





    <header id="page header">
        <nav>
            <menu>
        <a href="#Basic-info"><span>Info -</span></a>
        <a href="#Synopsis"><span>Synopsis - </span></a>
        <a href="#Cast"><span>Cast -</span></a>
        <a href="#Crew"><span>Crew -</span></a>
        <a href="#Comments"><span>Comments -</span></a>
        <a href="#References"><span>References -</span></a>
        <a href="/page1/landing page.ejs"><span>Home -</span></a>
        </menu>
    </nav>
    </header>

    <section id="#Basic-info">
        <h2 id ="Basic-info">Basic Information</h2>
        Release date - 1980</br>
        Run Time - 95 minutes</br>
        Rating - R</br>
        Budget - $550,000</br>
        Box Office - $59.8 million</br>
        Distributed by - Paramount Pictures</br>
    </section>


    <section id="Synopsis">
        <h2 id ="Synopsis">Synopsis</h2>
        Its plot follows a group of teenage camp counselors who are murdered one by one by 
        an unknown killer while attempting to re-open an abandoned summer camp.</br>
    </section>


    <section id="Cast">
        <h2 id ="Cast">Cast</h2>
        Betsy Palmer as Mrs. Voorhees</br>
        Adrienne King as Alice</br>
        Harry Crosby as Bill</br>
        Jeannine Taylor as Marcie<br>
        Laurie Bartram as Brenda<br>
        Kevin Bacon as Jack<br>
        Mark Nelson as Ned<br>
        Robbi Morgan as Annie<br>
        Peter Brouwer as Steve Christy<br>
        Rex Everhart as The Truck Driver<br>
        Ronn Carroll as Sgt. Tierney<br>
        Walt Gorney as Crazy Ralph<br>
        Willie Adams as Barry<br>
        Debra S. Hayes as Claudette<br>
        Sally Anne Golden as Sandy<br>
        Ari Lehman as Jason<br>
    </section>


    <section id="Crew">
        <h2 id ="Crew">Crew</h2>
        Director - Sean S. Cunningham</br>
        Screenwriter - Victor Miller</br>
        Cinematography - Barry Abrams</br>
        Music - Harry Manfredini</br>
        Editor - Bill Freda</br>
    </section>

  
        <section id="Comments">
            <h2 id="Comments">Comments Section</h2>
            <section id="buttons12">
                <button onclick="addComment(); addReplySection()">
                    Add comment
                </button>
            </section>
        
        
        <ul id="dynamic-list">
        </ul>
        
        
        <section id="reply">
                 Username:<input type="text" id="candidate2"/><br>
        </section>
        <section id="comments">
            Comment:<input type="text" id="candidate"/><br>
            <button id="button1" onclick="addItem(); hideComment(); clearText(); addItem2();hideReplySection(); clearText2(); hideReply();">add comment</button>
        </section>
           
       
    
    <footer id="References">
        <hr>
           <p>References</br>
           <a href="https://en.wikipedia.org/wiki/Friday_the_13th_(1980_film)">wikipedia.org</a><br>
           <a href="https://www.imdb.com/title/tt0080761/">imdb.com</a><br>
           <a href="https://www.amazon.com/Friday-13th-Ultimate-Collection-Blu-ray/dp/B077Y6R9W1">www.amazon.com</a><br>
     </footer>
    








</main>


</body>
<html>