<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/555be0560e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/stylesheet1.css">
    <script src="/js/js_fucntionality.js" defer></script> 

    <title>The Encyclopedia of Spooky- Halloween</title>

</head>
<body>


    <h1>
        <img src="../images/logo.png" alt="logo" width="100" height="100"> The Encyclopedia of Spooky
    </h1>


    <section id="upload">
        Account information</br>
        <a href="/page19/Create account.ejs">Create Account</a></br>
            <a href="/page20/delete account.ejs">Delete Account</a><br>
    </section>


<main>
    <h2>
    <img src="../images/Halloween.jpeg" alt="Halloween Poster" width="250" height="400"><br>
    Halloween
    </h2>





    <header id="page header">
        <nav>
            <menu>
        <a href="#Basic-info"><span>Info -</span></a>
        <a href="#Synopsis"><span>Synopsis - </span></a>
        <a href="#Cast"><span>Cast -</span></a>
        <a href="#Crew"><span>Crew -</span></a>
        <a href="#Comments"><span>Comments -</span></a>
        <a href="#References"><span>References -</span></a>
        <a href="/page1/landing page.ejs"><span>Home -</span></a>
        </menu>
    </nav>
    </header>

    <section id="#Basic-info">
        <h2 id ="Basic-info">Basic Information</h2>
        Release date - 1978</br>
        Run Time - 91 minutes</br>
        Rating - R</br>
        Budget - $300,000</br>
        Box Office - $60-70 million</br>
        Distributed by - Compas Internatinal </br>
    </section>


    <section id="Synopsis">
        <h2 id ="Synopsis">Synopsis</h2>
        The plot tells about a mental patient who was committed to a sanitarium for murdering his babysitting teenage sister on Halloween night when he was six years old. Fifteen years later, he escapes and returns to his
        hometown, where he stalks a female babysitter and her friends, while under pursuit by his psychiatrist.</br>
    </section>


    <section id="Cast">
        <h2 id ="Cast">Cast</h2>
        Donald Pleasence as Dr. Sam Loomis<br>
        Jamie Lee Curtis as Laurie Strode<br>
        Nick Castle as Michael Myers / The Shape<br>
        Tony Moran as Michael Myers (unmasked)<br>
        Will Sandin as Michael Myers (age 6)<br>
        P.J. Soles as Lynda Van Der Klok<br>
        Nancy Kyes as Annie Brackett<br>
        Charles Cyphers as Sheriff Leigh Brackett<br>
        Kyle Richards as Lindsey Wallace<br>
        Brian Andrews as Tommy Doyle<br>
        John Michael Graham as Bob Simms<br>
        Nancy Stephens as Marion Chambers<br>
        Arthur Malet as Angus Taylor<br>
        Mickey Yablans as Richie Castle<br>
        Brent Le Page as Lonnie Elam<br>
        Adam Hollander as Keith<br>
        Sandy Johnson as Judith Margaret Myers<br>
        David Kyle as Danny Hodges<br>
        Peter Griffith as Morgan Strode<br>
        Robert Phalen as Dr. Terence Wynn<br>
    </section>


    <section id="Crew">
        <h2 id ="Crew">Crew</h2>
        Director - John Carpenter</br>
        Screenwriter - John Carpenter</br>
        Screenwriter - Debra Hill</br>
        Cinematography - Dean Cundey</br>
        Music - John Carpenter</br>
        Editor - Tommy Wallace</br>
        Editor - Charles Bornstein</br>
    </section>

    
    <section id="Comments">
        <h2 id="Comments">Comments Section</h2>
        <section id="buttons12">
            <button onclick="addComment(); addReplySection()">
                Add comment
            </button>
        </section>
    
    
    <ul id="dynamic-list">
    </ul>
    
    
    <section id="reply">
             Username:<input type="text" id="candidate2"/><br>
    </section>
    <section id="comments">
        Comment:<input type="text" id="candidate"/><br>
        <button id="button1" onclick="addItem(); hideComment(); clearText(); addItem2();hideReplySection(); clearText2(); hideReply();">add comment</button>
    </section>
       
    

    <footer id="References">
        <hr>
           <p>References</br>
           <a href="https://en.wikipedia.org/wiki/Halloween_(1978_film)">wikipedia.org</a><br>
           <a href="http://www.searchbaron.com/v1/hostedsearch?v=797851&aid=1446989&data=aWlkPTIyMjI3JnVpZD0xNzExMTgyOTg=&keyword=halloween+imdb&apso=1&dt=17691490597&tab=74:4">imdb.com</a><br>
           <a href="https://www.amazon.com/Halloween-Collectors-4K-UHD-Blu-ray/dp/B07GQJHCBZ/ref=sr_1_4?crid=XKMQ3EBG6JJO&dchild=1&keywords=halloween+blu+ray&qid=1634493719&s=movies-tv&sr=1-4">www.amazon.com</a><br>
     </footer>
    








</main>


</body>
<html>