<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/555be0560e.js" crossorigin="anonymous"></script>


    <title>The Encyclopedia of Spooky</title>
    <link rel="shortcut icon" type="image/jpg" href="images/icons8-edit-24.png"/>
    <link rel="stylesheet" href="css/stylesheet1.css">
</head>


<body>

<section id="landingPage">
    <h1>Welcome to the Encyclopedia of Spooky!</h1>

    <br>
    <br>
    <br>
    <br>

    
<h2>Enter at your own parallel</h2>
 <a href="/page1/landing page.ejs"><span>Enter</span></a>


</section>



   


  
        
    

</body>
</html>
