<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/555be0560e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/stylesheet1.css">


    <title>The Encyclopedia of Spooky</title>

</head>

<body>

    <h1>
        <img src="../images/logo.png" alt="logo" width="100" height="100">  The Encyclopedia of Spooky
     </h1>


    <header id="page header">
        <nav>
            <menu>
        <a href="#Slashers"><span>Slasher -</span></a>
        <a href="#Sci-Fi"><span>Sci-Fi - </span></a>
        <a href="#Monster"><span>Monaster -</span></a>
        <a href="#Religious"><span>Religious -</span></a>
        <a href="#Classic"><span>Classic -</span></a>
        <a href="#Zombie"><span>Zombie -</span></a>
        </menu>
    </nav>
    </header>

    <section id="sign-up">
        <h3>
            Account information</br>
            <a href="/page19/Create account.ejs">Create Account</a></br>
            <a href="/page20/delete account.ejs">Delete Account</a><br>
        </h3>
    </section>

<main>
    <section id="Slashers">
        <h2 id ="Slashers">Slashers</h2>
        <a href="/page2/Fridaythe13th.ejs">Friday the 13th</a></br>
        <a href="/page3/Halloween.ejs">Halloween</a></br>
        <a href="/page4/Scream.ejs">Scream</a></br>
        <a href="/page5/A nightmare on elm street.ejs">A Nightmare on Elm Street</a></br>
        <a href="/page6/Psycho.ejs">Psycho</a></br>
    </section>

    <section id ="Sci-Fi">
        <h2>Sci-Fi</h2>
        <a href="/page7/Alien.ejs">Alien</a></br>
        <a href="/page8/Predator.ejs">Predator</a></br>
        <a href="/page9/The Thing.ejs">The Thing</a></br>
        <a href="/page10/The Fly.ejs">The Fly</a></br>
    </section>

    <section id ="Monster">
        <h2>Monster</h2>
        <a href="/page11/Jaws.ejs">Jaws</a></br>
        <a href="/page12/Prophecey.ejs">Prophecey</a></br>
    </section>

    <section id ="Religious">
        <h2>Religious</h2>
        <a href="/page13/The Omen.ejs">The Omen</a></br>
        <a href="/page14/The Exorcist.ejs">The Exorcist</a></br> 
    </section>

    <section id ="Classic">
        <h2>Classic</h2>
        <a href="/page15/Frankensien.ejs">Frankenstien</a></br> 
        <a href="/page16/The Invisible Man.ejs">The Invisible Man</a></br> 
    </section>

    <section id ="Zombie">
        <h2>Zombie</h2>
        <a href="/page17/Dawn of the Dead.ejs">Dawn of the Dead</a></br> 
        <a href="/page18/Dead Alive.ejs">Dead Alive</a></br> 
    </section>




</main>




<footer>
    <hr>
       <p>Contact Info </br>
        nlmarogi@oakland.edu</p>
 </footer>


</body>
</html>

