<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/555be0560e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/stylesheet1.css">
    <script src="/js/js_fucntionality.js" defer></script> 

    <title>The Encyclopedia of Spooky- The Thing</title>

</head>
<body>


    <h1>
        <img src="../images/logo.png" alt="logo" width="100" height="100"> The Encyclopedia of Spooky
    </h1>


    <section id="upload">
        Account information</br>
        <a href="/page19/Create account.ejs">Create Account</a></br>
        <a href="/page20/delete account.ejs">Delete Account</a><br>
    </section>


<main>
    <h2>
    <img src="../images/Thething.jpg" alt="The Thing Poster" width="250" height="400"><br>
    The Thing
    </h2>





    <header id="page header">
        <nav>
            <menu>
        <a href="#Basic-info"><span>Info -</span></a>
        <a href="#Synopsis"><span>Synopsis - </span></a>
        <a href="#Cast"><span>Cast -</span></a>
        <a href="#Crew"><span>Crew -</span></a>
        <a href="#Comments"><span>Comments -</span></a>
        <a href="#References"><span>References -</span></a>
        <a href="/page1/landing page.ejs"><span>Home -</span></a>
        </menu>
    </nav>
    </header>

    <section id="#Basic-info">
        <h2 id ="Basic-info">Basic Information</h2>
        Release date - 1982 </br>
        Run Time - 109 minutes</br>
        Rating - R</br>
        Budget - $15 million</br>
        Box Office - $19.6 million</br>
        Distributed by - Univeral Studios </br>
    </section>


    <section id="Synopsis">
        <h2 id ="Synopsis">Synopsis</h2>
        A research team in Antarctica is hunted by a
         shape-shifting alien that assumes the appearance of its victims.</br>
    </section>


    <section id="Cast">
        <h2 id ="Cast">Cast</h2>
        Kurt Russell as MacReady<br>
        Wilford Brimley as Dr. Blair<br>
        Keith David as Childs<br>
        Richard Masur as Clark<br>
    </section>


    <section id="Crew">
        <h2 id ="Crew">Crew</h2>
        Directed by	John Carpenter<br>
        Screenplay by Bill Lancaster<br>
        Produced by	David Foster<br>
        Produced by Lawrence Turman<br>
        Cinematography	Dean Cundey<br>
        Edited by Todd Ramsay<br>
        Music by Ennio Morricone<br>
    </section>

    <section id="Comments">
        <h2 id="Comments">Comments Section</h2>
        <section id="buttons12">
            <button onclick="addComment(); addReplySection()">
                Add comment
            </button>
        </section>
    
    
    <ul id="dynamic-list">
    </ul>
    
    
    <section id="reply">
             Username:<input type="text" id="candidate2"/><br>
    </section>
    <section id="comments">
        Comment:<input type="text" id="candidate"/><br>
        <button id="button1" onclick="addItem(); hideComment(); clearText(); addItem2();hideReplySection(); clearText2(); hideReply();">add comment</button>
    </section>
       
   


    <footer id="References">
        <hr>
           <p>References</br>
           <a href="https://en.wikipedia.org/wiki/The_Thing_(1982_film)">wikipedia.org</a><br>
           <a href="https://www.imdb.com/title/tt0084787/?ref_=tt_mv_close">imdb.com</a><br>
           <a href="https://www.amazon.com/Thing-Collectors-Kurt-Russell/dp/B0002CHK1S/ref=sr_1_2_sspa?dchild=1&keywords=The+thing+dvd&qid=1634496996&sr=8-2-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyUUc3MlNKSlBVV040JmVuY3J5cHRlZElkPUExMDQwODk0MzkwUVFRNjM4VThaUCZlbmNyeXB0ZWRBZElkPUEwMTY5MDQ1MU1PN1AyWkZGRDlIRSZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">www.amazon.com</a><br>
     </footer>
    








</main>


</body>
<html>