<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/555be0560e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/stylesheet1.css">
    <script src="/js/js_fucntionality.js" defer></script> 

    <title>The Encyclopedia of Spooky- The Invisible Man</title>

</head>
<body>


    <h1>
    <img src="../images/logo.png" alt="logo" width="100" height="100"> The Encyclopedia of Spooky
    </h1>


    <section id="upload">
        Account information</br>
        <a href="/page19/Create account.ejs">Create Account</a></br>
        <a href="/page20/delete account.ejs">Delete Account</a><br>
    </section>


<main>
    <h2>
    <img src="../images/The Invisible Man.jpg" alt="The Invisible Man Poster" width="250" height="400"><br>
    The Invisible Man
    </h2>





    <header id="page header">
        <nav>
            <menu>
        <a href="#Basic-info"><span>Info -</span></a>
        <a href="#Synopsis"><span>Synopsis - </span></a>
        <a href="#Cast"><span>Cast -</span></a>
        <a href="#Crew"><span>Crew -</span></a>
        <a href="#Comments"><span>Comments -</span></a>
        <a href="#References"><span>References -</span></a>
        <a href="/page1/landing page.ejs"><span>Home -</span></a>
        </menu>
    </nav>
    </header>

    <section id="#Basic-info">
        <h2 id ="Basic-info">Basic Information</h2>
        Release date - 1933</br>
        Run Time - 70 minutes</br>
        Rating - PG</br>
        Budget - $328,000</br>
        Box Office - N/A</br>
        Distributed by - Universal</br>
    </section>


    <section id="Synopsis">
        <h2 id ="Synopsis">Synopsis</h2>
        A scientist finds a way of becoming invisible, but in doing so, he becomes murderously insane.</br>
    </section>


    <section id="Cast">
        <h2 id ="Cast">Cast</h2>
        Claude Rains as Dr. Jack Griffin<br>
        Gloria Stuart as Flora Cranley<br>
        William Harrigan as Dr. Arthur Kemp<br>
        Henry Travers as Dr. Cranley<br>
        Una O'Connor as Jenny Hall<br>
        Forrester Harvey as Herbert Hall<br>
        Dudley Digges as Chief of Detectives<br>
        E. E. Clive as Police Constable Jaffers<br>
        Dwight Frye as Reporter<br>
        Merle Tottenham as Millie<br>
    </section>


    <section id="Crew">
        <h2 id ="Crew">Crew</h2>
        Directed by	James Whale<br>
        Screenplay by	R. C. Sherriff<br>
        Produced by	Carl Laemmle Jr.<br>
        Cinematography	Arthur Edeson<br>
        Edited by	Ted Kent<br>
        Music by	Heinz Roemheld<br>
    </section>


    <section id="Comments">
        <h2 id="Comments">Comments Section</h2>
        <section id="buttons12">
            <button onclick="addComment(); addReplySection()">
                Add comment
            </button>
        </section>
    
    
    <ul id="dynamic-list">
    </ul>
    
    
    <section id="reply">
             Username:<input type="text" id="candidate2"/><br>
    </section>
    <section id="comments">
        Comment:<input type="text" id="candidate"/><br>
        <button id="button1" onclick="addItem(); hideComment(); clearText(); addItem2();hideReplySection(); clearText2(); hideReply();">add comment</button>
    </section>
       
       
    
    <footer id="References">
        <hr>
           <p>References</br>
           <a href="https://en.wikipedia.org/wiki/The_Invisible_Man_(1933_film)">wikipedia.org</a><br>
           <a href="https://www.imdb.com/title/tt0024184/?ref_=fn_al_tt_2">imdb.com</a><br>
           <a href="https://www.amazon.com/Invisible-Man-Complete-Legacy-Collection/dp/B00L8QOY0C/ref=sr_1_1_sspa?dchild=1&keywords=The+Invisible+Man+dvd&qid=1634500351&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExVzNHRFdRR0NRVVdUJmVuY3J5cHRlZElkPUEwNDEzNjE5UkxBMFQyQ1ZGMU5PJmVuY3J5cHRlZEFkSWQ9QTAxNjQ5NDUzUk5JVFlLQjM0VEVQJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">www.amazon.com</a><br>
     </footer>
    








</main>


</body>
<html>